$Btn : #b9cfd3  ;
$BGcolor: #d6e3ee;
$radius:0.5rem;


@mixin flexCenter{
  display: flex;
  justify-content: center;

}

.multbody{
  font-family: sans-serif;
  background-color: $BGcolor;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 12%;
}
